*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background:url("images/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
.container{
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}
nav ul li a:hover, a.active{
    background-color: #3352F2;
    border-radius: 5px;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
    padding: 0 0 30px 0;
}
.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 5px;
    float: left;
}
.booking-form h3{
    margin: 10px 0px;
}
.booking-form  .input-group{
    margin: 10px 0;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp-width{
    min-width: 260px;
}
.btn {
    padding: 8px 15px;
    margin-top: 16px;
    background: #f5f9f9;
    border: none;
    margin-right: 10px;
    color: blue;
    cursor: pointer;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 3px;
    transition: .3s;
}
.btn:hover {
    border: 1px solid gray;
    color: #333;
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.booking-content{
    color: #fff;
    width: 80%;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    margin-bottom: 25px;
}

.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:  #3352F2;
}
.amount{
    display: flex;
    justify-content: space-between;
}

/*Invoice Part*/
#TicketBooking-Invoice {
    display: none;
}
.Invoice {
    padding: 40px 20px;
}
.Invoice h3
{
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 1px dashed #e6e4e4;
    color: #4e60b8;
    text-align: center;
}
.InvoiceDetails {
    margin: 50px 0;
    background: #f7efef;
    padding: 40px 20px;
}
.InvoiceDetails h4{
    margin-bottom: 20px;
    color: #525050;
}
.InvoiceDetails h4 span {
    margin-left: 30px;
}
.Invoice p
{
    color: green;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    font-weight: 700;
}
button.okBtn {
    padding: 12px 40px;
    background: #3838ec;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 20px auto 0 auto;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
    cursor: pointer;
    outline: none;
}